{% extends "layouts/base.html" %}
{% load static %}

{% block title %} List of Books (Django Forms) {% endblock title %}

{% block content %}
<h1>List of Books (Django Forms)</h1>
<a href="{% url 'books.add_book_django' %}">Add New Book</a>
<ul>
    {% for book in books %}
    <li>
        {{ book.title }} by {{ book.author }} (ID: {{ book.id }})
        <a href="{% url 'books.edit_book_django' book.id %}">Edit</a>
        <a href="{% url 'books.delete_book_django' book.id %}">Delete</a>
    </li>
    {% endfor %}
</ul>
<a href="{% url 'books.index' %}">Back to Home</a>
{% endblock content %}